section#about.about
  .container
    h1.about__title #[span Lorem ipsum] dolor sit amet consectetur #[span adipiscing]
    .about__desc
      .about__desc-title At vero eos et accusamus et iusto odio dignissimos ducimus!
      ul.about__desc-list
        li.about__desc-item - Totam rem aperiam eaque ipsa
        li.about__desc-item - Sit voluptatem accusantium doloremque laudantium
        li.about__desc-item - Sed ut perspiciatis, unde omnis iste natus error
    .about__buttons
      a(href='#order').about__button.about__button-order.button заказать
      a(href='').about__button.about__button-more.button подробнее
