header.header
  .container
    .header__container
      .header__logo LoremIpsum.#[span net]
      .header__menu
        include ../common/nav
      .header__hamburger
        include ../common/hamburger
