section#order.order
  .container
    .order__content
      h2.order__title Оформление  #[span Заказа]
      .order__subtitle Перед заполнением формы ознакомьтесь с нашей схемой работы!
      .order__cycle
        include order-cycle
      .order__form
        include form
