.order-cycle
  .order-cycle__item
    .order-cycle__circle
      .order-cycle__pic-search
    .order-cycle__title Lorem ipsum dolor sit amet
  .order-cycle__points
    include ../common/points
  .order-cycle__item
    .order-cycle__circle
      .order-cycle__pic-percent
    .order-cycle__title Сonsecteturadipiscing elit
  .order-cycle__points
    include ../common/points
  .order-cycle__item
    .order-cycle__circle
      .order-cycle__pic-doc
    .order-cycle__title Sed do eiusmod tempor
  .order-cycle__points
    include ../common/points
  .order-cycle__item
    .order-cycle__circle
      .order-cycle__pic-mail
    .order-cycle__title Esse cillum dolore eu fugiat
  .order-cycle__points
    include ../common/points
  .order-cycle__item
    .order-cycle__circle
      .order-cycle__pic-cash
    .order-cycle__title Excepteur sint occaecat cupidatat non proident















//.order-cycle
//  .order-cycle__item
//    .order-cycle__pic-search
//  include ../common/points
//  .order-cycle__item
//    .order-cycle__pic-percent
//  include ../common/points
//  .order-cycle__item
//    .order-cycle__pic-doc
//  include ../common/points
//  .order-cycle__item
//    .order-cycle__pic-mail
//  include ../common/points
//  .order-cycle__item
//    .order-cycle__pic-cash
