//Fonts
$main-font                      : "Lato", helvetica, arial, sans-serif;
$second-font                    : "Raleway", helvetica, arial, sans-serif;
$main-font-weight               : 400;

// Colors
$color-primary                  : #10101d;
$color-primary-dark             : #272733;
$color-primary-light            : #2a2b30;
$color-secondary                : #ffffff;
$color-tertiary                 : #42a9ed;
$color-tertiary-light           : #3e9cdc;
$color-tertiary-dark            : #43abf0;
$color-neutral                  : #bbbbbb;
$color-neutral-light            : #3d4050;
$color-neutral-dark             : #c3c3c3;

// Resolutions
$mediaWidthMobile-m             : 320px;
$mediaWidthMobile               : 480px;
$mediaWidthTablet               : 767px;
$mediaWidthLaptop               : 1024px;
$mediaWidthDesktop              : 1365px;

// Transition
$speed                          : 0.2s;
